* {
  font-family: 'Gantari', sans-serif; 
  box-sizing: border-box;
  margin: 0;
}

.nav-custom {
    background-color: #87ceeb;
    /* color: white; */
}

.word-search {
    padding-top: 1em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.not-found {
    padding: 0.8em;
    padding-top: 1em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.user-btn {
    width: 10%;
}

.ety-header {
    font-size: 1.5em;
    padding: 0.8em;
    font-weight: bold;
}

.etymology {
    padding: 1em;
    margin: 1em;
    background-color: aquamarine;
}

.partOfSpeech {
    text-align: left;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.footer {
    position: fixed; 
    text-align: center;
    background-color: #87ceeb;
    padding: 0.5em; 
    bottom: 0;
    width: 100%;
}
